<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>932428692823-av3v9plg3coaefia3bme2690atqut619.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.932428692823-av3v9plg3coaefia3bme2690atqut619</string>
	<key>API_KEY</key>
	<string>AIzaSyDsWUL0iQTzrR8SPaWhYRlTh1etyftrta8</string>
	<key>GCM_SENDER_ID</key>
	<string>932428692823</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.caobangconnect</string>
	<key>PROJECT_ID</key>
	<string>admin-mycity</string>
	<key>STORAGE_BUCKET</key>
	<string>admin-mycity.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:932428692823:ios:94fd968d4889637e9b1212</string>
	<key>DATABASE_URL</key>
	<string>https://admin-mycity.firebaseio.com</string>
</dict>
</plist>